/*csslint ids: false, box-model: false, fallback-colors: false, unique-headings: false*/


/****************************************************************************************************************
General
****************************************************************************************************************/

.home {
    background: url("http://www.badasspizzaandbrew.com/wp-content/uploads/2014/05/badass-pizza-background-1900x1200-4.png") no-repeat center center fixed;
    background-size: cover;
    color: ivory;
    font-family: 'Italiana', serif;
    line-height: 1.5;
    margin: 0;
    overflow-x: hidden;
}

.main-header {
    background-color: rgba(196, 212, 110, 0.4);
    background-image: linear-gradient(rgba(212, 247, 69, 0.4), rgba(140, 207, 85, 0.4));
    border-radius: 10px;
}

.hamburger-header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

ul {
    list-style: none;
}

a {
    color: darkslategray;
}

ul li {
    color: goldenrod;
    margin-bottom: 5px;
}


/*Psuedo Classes*/

a:link {
    color: greenyellow;
    text-decoration: none;
}

a:visited {
    color: ivory;
}

a:hover {
    color: green;
}

a:active {
    color: crimson;
}

img {
    border-radius: 10px;
    margin-bottom: 20px;
    width: 50%;
}


/****************************************************************************************************************
Headline Elements and P elements
****************************************************************************************************************/

h1 {
    color: darkslategrey;
    font-size: 5.625em;
    font-weight: normal;
    line-height: 1.3;
    text-shadow: 0 2px 1px black;
    text-transform: uppercase;
}

h2 {
    font-size: 53px;
    font-weight: normal;
    margin-bottom: 0.5em;
    text-decoration: underline;
}

h3 {
    color: saddlebrown;
    font-size: 30px;
    margin-bottom: 1.7em;
}

p {
    font-size: 20px;
}


/****************************************************************************************************************
Navs
****************************************************************************************************************/

nav {
    background-color: rgba(196, 212, 110, 0.4);
    border-top: 5px solid darkslategrey;
    box-shadow: inset 0 0 50px 10px black;
    font-size: 20px;
    margin: 20px 0 0;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 10px 0;
}

nav li {
    display: inline-block;
    font-weight: 300;
    padding: 5px 20px 5px;
}

nav a,
nav a: visited {
    color: crimson;
}

nav .selected,
nav a:hover {
    color: black;
}


/****************************************************************************************************************
IDs and Classes
****************************************************************************************************************/

.primary-content {
    background-color: rgba(196, 212, 110, 0.4);
    background-image: linear-gradient(rgba(212, 247, 69, 0.4), rgba(140, 207, 85, 0.4));
    border-radius: 10px;
    color: darkslategrey;
    max-width: 900px;
    padding-bottom: 95px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.secondary-content {
    background-color: rgba(196, 212, 110, 0.4);
    background-image: linear-gradient(rgba(212, 247, 69, 0.4), rgba(140, 207, 85, 0.4));
    border-radius: 10px;
    color: darkslategrey;
    padding-bottom: 70px;
    padding-top: 80px;
}

.primary-content,
.secondary-content {
    box-shadow: inset 0 0 50px 10px black;
    margin: auto;
    width: 75%;
}

.main-header,
.title {
    text-align: center;
}

.main-header {
    box-shadow: inset 0 0 50px 10px black;
    height: 600px;
    padding-top: 170px;
}

.title {
    border-bottom: 2px solid;
    color: darkslategrey;
    /*em = px / 16*/
    font-size: 1.625em;
    font-weight: 200;
    letter-spacing: .065em;
    padding-bottom: 10px;
}

.pizza-style {
    background-color: rgba(245, 240, 108, 0.4);
    background-image: linear-gradient(rgba(212, 247, 69, 0.4), rgba(140, 207, 85, 0.4));
    border-radius: 10px;
    box-shadow: inset 0 0 50px 10px black;
    margin: 105px 0 60px;
    padding: 100px 120px;
}

.t-border {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

.callout {
    border-bottom: 3px solid;
    display: inline-block;
    font-size: 1.25em;
    margin-top: 20px;
    padding: 0 9px 3px;
}

.pizza-logo {
    opacity: 0.7;
    width: 200px;
}

.middle-pics {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
}

.menu-pics {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.menu-header {
    background-color: rgba(245, 240, 108, 0.4);
    background-image: linear-gradient(rgba(212, 247, 69, 0.4), rgba(140, 207, 85, 0.4));
    border-radius: 10px;
    box-shadow: inset 0 0 50px 10px black;
}

.directions {
    font-family: sans-serif;
    font-size: 20px;
}

.social-media-icon {
    margin: 0 5px;
    width: 70px;
}


/*#menu {
    background: url("http://www.badasspizzaandbrew.com/wp-content/uploads/2014/05/badass-pizza-background-1900x1200-4.png") no-repeat center center fixed;
    background-size: cover;
    color: orange;
    font-family: 'Italiana', serif;
    line-height: 1.5;
    margin: 0;
}*/

#main-footer {
    color: orange;
    padding-bottom: 60px;
    padding-top: 60px;
}

#primary-p {
    font-size: 30px;
}

#sausage {
    opacity: 0.7;
}

#map {
    background-color: #CCC;
    height: 400px;
    width: 500px;
}

#hamburger {
    background: #4569b2;
    background: -moz-linear-gradient(top, #4569b2 0%, #4062a5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4569b2), color-stop(100%, #4062a5));
    background: -webkit-linear-gradient(top, #4569b2 0%, #4062a5 100%);
    background: -o-linear-gradient(top, #4569b2 0%, #4062a5 100%);
    background: -ms-linear-gradient(top, #4569b2 0%, #4062a5 100%);
    background: linear-gradient(to bottom, #4569b2 0%, #4062a5 100%);
    border: 1px solid #374C77;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    display: block;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4569b2', endColorstr='#4062a5', GradientType=0);
    height: 24px;
    padding: 3px 4px 3px;
    position: relative;
    width: 25px;
}


/*
The white stripes in the hamburger button
*/

#hamburger div {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 2px 2px 2px 2px;
    height: 2px;
    margin-top: 3px;
    width: 90%;
}


/****************************************************************************************************************
Media Queries
****************************************************************************************************************/


/* for larger devices*/

@media (max-width: 1024px) {
    .primary-content,
    .secondary-content {
        width: 90%;
    }
    .pizza-style {
        margin: 50px 0 20px;
        padding: 10% 12%;
    }
}


/* for smaller devices */

@media (max-width: 768px) {
    .primary-content,
    .secondary-content {
        border-top: none;
        padding: 20px;
        width: 100%;
    }
    .main-header {
        max-height: 380px;
        padding: 50px 25px 0;
    }
    .title {
        border: none;
        font-size: 1.3rem;
    }
    h1 {
        font-size: 5rem;
        line-height: 1.1;
    }
    .logo {
        display: none;
    }
    .intro {
        font-size: 1rem;
    }
    .middle-pics,
    .sausage {
        float: none;
        width: 100%;
    }
    .main-footer {
        padding: 20px 0;
    }
}